<div class="container">

    <div class="row" >
        <div class="col-sm">
            <h2 >ID:<span>driver.userId</span></h2>
            <button class="btn btn-primary">Change</button>
        </div>
        <div class="col-sm">
            <h2>Driver's name:<span>{{driver.firstName}}</span></h2>
            <button class="btn btn-primary">Change</button>
        </div>
        <div class="col-sm">
            <h2>Accepting rides:<span>{{driver.acceptingRides}}</span>{{driver.batch.batchNumber}}</h2>
            <button class="btn btn-primary"   (click)="changeAcceptingRides(driver)" >Change</button>
        </div>

    </div>

</div>

