<div class="container">

    <div class="row" >
        <div class="col-sm">
            <h2>Location:<span></span></h2>
            <button class="btn btn-primary">Change</button>
        </div>
        <div class="col-sm">
            <h2>Namber of seats offered:<span></span></h2>
            <button class="btn btn-primary">Change</button>
        </div>
        <div class="col-sm">
            <h2>Accepting rides:<span></span></h2>
            <button class="btn btn-primary" (click)="changeAcceptingRides()">Change</button>
        </div>

    </div>

</div>

