*{
    font-family:"Overpass",sans-serif;
}


img {
    width: 13%;
    height: 13%;
    cursor: pointer;
    
}
.content{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}


nav {
    background-color: rgb(255, 255, 255);
    
}

.imageLogo {
    width:8.5em;
    height:3.5em;
  
}


#logout-btn {
    cursor: pointer;
}

a{
    cursor: pointer;
}

img.logo-navbar {
    width: 2rem !important;
    height: 2rem !important;
}


.navbar {
     padding: 2% 5%;
    /* left: 50px; */
    line-height: 42px;
    font-size: -2.7rem;
    font-weight: 800;
    margin-bottom: 20px;

  
}

a.nav-link{
    color:black !important;
}

.borderbottom:hover{
    border-bottom: 2px solid #F26925;
}
.mainnav{
    border-bottom: 1px inset rgb(214, 214, 214);
    font-size:17px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 0;
}
.mt-lg-0, .my-lg-0 {
    margin-left: 100px;
}

.loginbutton{
    margin-top:10px;
    background-color: #F26925;
    color:white;
    width:150px;
    font-family:"Overpass";
    font-weight:bold;
    font-size:22px;
    border-radius:27px;
    letter-spacing:1px;
    height:45px;
    display:inline-block;
}
 
.loginbutton:hover{
    background-color:white;
    color:#F26925;
    border: 2px solid #F26925;
    border-radius: 22px ;
    font-family:"Overpass";
    font-size:23px;
}

.dropdown-item {
    padding: 0.25rem 4.5rem;
}

.dropdown-item:hover{
    border: 3px solid #F26925;
    background-color: rgb(212, 113, 64);
    color:white;
    font-weight:bold;
}

#user-dropa{
    padding-left:10px;
}


