*{
    font-family:"Overpass",sans-serif;
    
}

<<<<<<< HEAD

=======
nav {
    background-color: rgb(255, 255, 255);
    
}
>>>>>>> 97cd434feda233f12368e4e5692cfae7bef50e84
img{
    width:35%;
    height:30%;
    margin-left:10%;
    position:relative;
}
<<<<<<< HEAD
.main-nav{
    border-bottom:1px inset rgb(214, 214, 214);
   
}
=======

>>>>>>> 97cd434feda233f12368e4e5692cfae7bef50e84
.nav-link{
    color:black !important;
    font-weight:600;
    cursor:pointer;
}

.nav-link:enabled{
    border-bottom:10px solid black;
}

.navbar{
    width:100%;
    border-bottom: 1px inset rgb(214, 214, 214);
    margin-bottom:20px;
<<<<<<< HEAD
=======
    
>>>>>>> 97cd434feda233f12368e4e5692cfae7bef50e84
}
.navbar-nav{
    float:right;
}


.borderbottom:hover{
    border-bottom: 2px solid #F26925;
}
.navbar-toggler-icon{
    border:1px solid green;
}
.nav-item{
    display:inline-block;
    width:8em;
    margin-left:10%;
}

