<nav class="navbar navbar-expand-lg navbar-light bg-light main-nav">
    <a class="navbar-brand" href="#">
        <img src="../assets/revature-logo-600x219.png" routerLink="/" >
      </a>
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" ></span>
    </button>
  
    <div class="navbar-collapse collapse show" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item ">
          <a class="nav-link" (click)="redirectToHome()"><span class="borderbottom">Home</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"><span class="borderbottom"><signupmodal></signupmodal></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login"><span class="borderbottom">Sign In</span></a>
        </li>
      </ul>
    </div>
  </nav>
  