<br>

<div class="container-fluid">
    <div class="row" >
        <div class="col">
            <img src='.\assets\logo.png' alt="logo">
        </div>
        <div class="col-md-auto">
            <h2 class="align-bottom float-center">{{userdriver?.firstName}} &nbsp;<span>{{userdriver?.lastName}} &nbsp;</span>Driver Page</h2>
        </div>
        <div class="col">
            <button class="btn btn-danger float-right" type="button" (click)="logout()">Logout</button>
     </div>
</div>
<br>

</div>

<div class="container-fluid">
    <div class="row" *ngIf="userdriver" >
        <div class="col">
            <h2 >Location:  &nbsp;<span>{{userdriver?.batch.batchLocation}}</span></h2>
            <button class="btn btn-primary">Change</button>
        </div>
        <div class="col">
            <h2>Number of seats offered:  &nbsp;<span>{{userdriver?.userId}}</span></h2>
            <button class="btn btn-primary">Change</button>
        </div>
        <div class="col">
            <h2 *ngIf="userdriver.acceptingRides===true">Accepting rides:  &nbsp;<span><img src=".\assets\yesno.jpg" width="25" height="25"></span> 
                {{userDriver?.acceptingRides}}</h2>
                <h2 *ngIf="userdriver.acceptingRides===false">Accepting rides:  &nbsp;<span><img src=".\assets\no.jpg" width="25" height="25"></span>
                    {{userdriver?.acceptingRides}}</h2>
            <button class="btn btn-primary"   (click)="changeAcceptingRides(userdriver)" >Change</button>
        </div>

    </div>

</div>
<br>

<div class="container-fluid">

<table class="table" class="table text-center">
    <tr>
      <th> ID </th>
      <th> Rider's Name </th>
      <th> Email </th>
      <th> Phone Number </th>
      <th> Batch Number</th>
      <th>Location</th>
      <th>Active</th>
      <th>Role</th>
    </tr>
  
    <tr *ngFor="let get of riders" >
      <td>{{get.userId}}</td>
      <td>{{get.firstName}}</td>
      <td>{{get.email}}</td>
      <td>{{get.phoneNumber}}</td>
      <td *ngIf="get.batch">{{get.batch.batchNumber}}</td>
      <td>{{get.batch.batchLocation}}</td>
      <td *ngIf="get.active===true"><img src=".\assets\yesno.jpg" width="15" height="15" ></td>
      <td *ngIf="get.active===false"><img src=".\assets\no.jpg" width="15" height="15"></td>
      <td *ngIf="get.driver===false">Rider</td>
      <td *ngIf="get.driver===true">Driver</td>
     
    </tr>
  
  </table>

</div>