<br>

<div class="container-fluid">
    <div class="row" >
        <div class="col-md-auto">
            <h2 class="align-bottom float-center">Driver: {{userDriver?.firstName}}&nbsp;<span>{{userDriver?.lastName}} &nbsp;</span></h2>
        </div>
</div>
<br>



<div class="container-fluid">
    <div class="row" *ngIf="userDriver" >
        <div class="col">
            <h2 >Location:  &nbsp;<span>{{userDriver?.batch.batchLocation}}</span></h2>
        </div>
    </div>

</div>
<br>

<div class="container-fluid">

<table class="table" class="table text-center">
    <tr>
      <th> ID </th>
      <th> Rider's Name </th>
      <th> Email </th>
      <th> Phone Number </th>
      <th> Batch Number</th>
      <th>Location</th>
      <th>Active</th>
      <th>Role</th>
    </tr>
  
    <tr *ngFor="let get of riders" >
      <td>{{get.userId}}</td>
      <td>{{get.firstName}}</td>
      <td>{{get.email}}</td>
      <td>{{get.phoneNumber}}</td>
      <td *ngIf="get.batch">{{get.batch.batchNumber}}</td>
      <td>{{get.batch.batchLocation}}</td>
      <td *ngIf="get.active===true"><img src=".\assets\yesno.jpg" width="15" height="15" ></td>
      <td *ngIf="get.active===false"><img src=".\assets\no.jpg" width="15" height="15"></td>
      <td *ngIf="get.driver===false">Rider</td>
      <td *ngIf="get.driver===true">Driver</td>
     
    </tr>
  
  </table>

</div>