<div class="container centerMe">
    <img src="assets/Homepage.jpg" alt="Car" class="blackFade" style="width:100%; height: 85vh;">
    <div class="centered">
        <h1 class="orangeText">RideForce</h1>
        <p class="orangeText"><strong>Introducing Revature employees to their forever rides.</strong></p>
        
     <div class="btn-group" role="group" aria-label="Button group">
         <button class="btn btn-lg btn-outline-light"><app-login></app-login></button>
         <button class="btn btn-lg btn-outline-light"><signupmodal></signupmodal></button>
     </div>

 
    </div>
  </div>
  <div class="container mBot">
  <div class="row cBorder">
    <div class="col-sm-4 mBot">
      <div class="card">
          <i class="fa fa-blind  fa-3x center1" aria-hidden="true"></i>
        <div class="card-body">
          <h5 class="card-title">Find Drivers</h5>
          <p class="card-text">Find drivers in your area.</p>
        </div>
    </div>
</div>
<div class="col-sm-4 mBot">
    <div class="card">
        <i class="fa fa-group  fa-3x center1" aria-hidden="true"></i>
        <div class="card-body">
          <h5 class="card-title">Gain Relationships</h5>
          <p class="card-text">Meet fellow Revature employees.</p>

        </div>
      </div>
    </div>
    <div class="col-sm-4 mBot">
      <div class="card">
        <i class="fa fa-cc-mastercard    fa-3x center1" aria-hidden="true"></i>
        <div class="card-body">
          <h5 class="card-title">Save Money</h5>
          <p class="card-text">Carpooling is the new green!</p>

        </div>
      </div>
    </div>
  </div>
</div>
<input ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)"/>
<p>{{formattedAddress}}</p>


