<!-- TOP HALF OF PAGE -->
<div class="container centerMe">
  <img src="assets/Homepage.jpg" alt="Homepage.jpg" class="blackFade" style="width:100%; height: 85vh;">
  <div class="centered">

    <!-- DISGUSTING SLOGAN AND TITLE OF PAGE -->
    <h1 class="orangeText">RideForce</h1>
    <p class="orangeText"><strong>Introducing Revature employees to their forever rides.</strong></p>

    <!-- BUTTONS THAT OPEN THESE FILTHY MODALS -->
    <div class="btn-group" role="group" aria-label="Button group">
      <!-- login modal -->
      <button class="btn btn-lg btn-outline-light">
        <app-login></app-login>
      </button>
      <!-- sign-up-modal -->
      <button class="btn btn-lg btn-outline-light">
        <signupmodal></signupmodal>
      </button>
    </div>
    
  </div>
</div>


<br/>
<app-google-place></app-google-place>
<br/><br/>
<app-google-place></app-google-place>
<br/><br/>
<app-google-place></app-google-place>
<br/>



<!-- BOTTOM HALF OF PAGE -->
<div class="container mBot">
  <div class="row cBorder">
    
    <!-- STUPID "FIND DRIVERS" CARD -->
    <div class="col-sm-4 mBot">
      <div class="card">
        <i class="fa fa-blind  fa-3x center1" aria-hidden="true"></i>
        <div class="card-body">
          <h5 class="card-title">Find Drivers</h5>
          <p class="card-text">Find drivers in your area.</p>
        </div>
      </div>
    </div>
    <!-- IDIOTIC "GAIN RELATIONSHIPS" CARD -->
    <div class="col-sm-4 mBot">
      <div class="card">
        <i class="fa fa-group  fa-3x center1" aria-hidden="true"></i>
        <div class="card-body">
          <h5 class="card-title">Gain Relationships</h5>
          <p class="card-text">Meet fellow Revature employees.</p>
        </div>
      </div>
    </div>
    <!-- CRETINOUS "SAVE MONEY" CARD -->
    <div class="col-sm-4 mBot">
      <div class="card">
        <i class="fa fa-cc-mastercard fa-3x center1" aria-hidden="true"></i>
        <div class="card-body">
          <h5 class="card-title">Save Money</h5>
          <p class="card-text">Carpooling is the new green!</p>
        </div>
      </div>
    </div>
    


  </div>
</div>