<h1 class="text-center"> Admin Portal</h1>

<div class="container">

 <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Search by Username">
<br>
  <table class="table table-bordered">
    <tr>
      <th> ID </th>
      <th> UserName </th>
      <th> First Name </th>
      <th> Last Name </th>
      <th> Email </th>
      <th> Phone Number </th>
      <th> Batch Number</th>
      <th> is Active </th>
      <th> Ban </th>
    </tr>

    <tr *ngFor="let get of listofUsers | adminfilter:searchText">
      <td>{{get.userId}}</td>
      <td>{{get.userName}}</td>
      <td>{{get.firstName}}</td>
      <td>{{get.lastName}}</td>
      <td>{{get.email}}</td>
      <td>{{get.phoneNumber}}</td>
      <td *ngIf="get.batch">{{get.batch.batchNumber}}</td>
      <td>{{get.active}}</td>
      <td><button [ngClass]="get.active? falsy : truthy" (click)="banningUser(get.userId, get.userName, get.firstName, get.lastName, get.email, get.phoneNumber, get.batch, get.active)">{{get.active? "Ban" : "UnBan"}}</button></td>
    </tr>

  </table>
</div>
