<div class="container mainContainer">
    
    <i class="fa fa-user" style="font-family:'FontAwesome';"></i>
       
        <h4>Contact Information:</h4>
    
        <div id="firstNameHolder" class="form-group row">
            <div class="col-sm-1"></div>

            <label for="f_name" class="col-sm-4 col-form-label">First Name:</label>
            <div class="col-sm-4">
                <input id="firstNameInput" type="text" class="form-control"  [(ngModel)]=f_name value="{{employee.first_name}}">
            </div>

        </div>
        
        <div id="lastNameHolder" class="form-group row">
            <div class="col-sm-1"></div>
            <label for="l_name" class="col-sm-4 col-form-label">Last Name:</label>
            <div class="col-sm-4">

                <input id="lastNameInput" type="text" class="form-control" [(ngModel)]=l_name value="{{employee.last_name}}">

            </div>
        </div>
    
        <div id="emailHolder" class="form-group row">
            <div class="col-sm-1"></div>
            <label for="user_email" class="col-sm-4 col-form-label">Email:</label>
            <div class="col-sm-4">

                <input id="emailInput" type="email" class="form-control"  aria-describedby="emailHelp" [(ngModel)]=email value="{{employee.email}}">

            </div>
        </div>
    
        <div id="phoneHolder" class="form-group row">
            <div class="col-sm-1"></div>
            <label for="phone" class="col-sm-4 col-form-label">Phone:</label>
            <div class="col-sm-4">

                <input id="phoneInput" type="text" class="form-control"  [(ngModel)]=phone value="{{employee.phone_number}}">
            </div>
        </div>

        <div id="usernameHolder" class="form-group row">
            <div class="col-sm-1"></div>
            <label for="username" class="col-sm-4 col-form-label">Username:</label>
            <div class="col-sm-4">
                <input id="usernameInput" type="text" class="form-control" [(ngModel)]=username value="{{employee.username}}">
            </div>
        </div>

        <div id="passwordHolder" class="form-group row">
            <div class="col-sm-1"></div>
            <label for="password" class="col-sm-4 col-form-label">Password:</label>
            <div class="col-sm-4">
                <input id="passwordInput" type="text" class="form-control" [(ngModel)]=password value="{{employee.password}}">

            </div>
        </div>

        <div id="driverHolder" class="form-group row">
            <div class="col-sm-1"></div>
            <label for="drvierCheck" class="col-sm-4 col-form-label">I'm a Driver:</label>
            <div class="col-sm-4">
                <input id="driverInput" type="checkbox" class="form-control"  [(ngModel)]=isDriver value="{{employee.isDriver}}" (click)="changeActive()">
            </div>
        </div>

        <div id="activeHolder" class="form-group row">
            <div class="col-sm-1"></div>
            <label for="activeCheck" class="col-sm-4 col-form-label">Actively accepting Rides:</label>
            <div class="col-sm-4">
                <input id="activeInput" [disabled]="!isDriver" type="checkbox" class="form-control"  [(ngModel)]=isActive value="{{employee.is_active}}">
            </div>
        </div>
        
        <button  id="submitButton" type="submit" class="btn btn-primary myBtn" (click)="UpdateContactInfo()">Save</button>
    </div>
  
        
    