.mainContainer {
    margin: 5% auto;
    width: 61%;  
}

.form-control {
    width: 230px;
}
.row{
    text-align:center;
}
.myBtn {
    margin-top:10px;
    background-color: #F26925;
    color:white;
    width:150px;
    font-family:"Overpass";
    font-weight:bold;
    font-size:22px;
    border-radius:27px;
    letter-spacing:1px;
    height:45px;
    display:inline-block;
}
 
.myBtn:hover{
    background-color:white;
    color:#F26925;
    border: 2px solid #F26925;
    border-radius: 22px ;
    font-family:"Overpass";
    font-size:23px;
}

@media(min-width: 768px){
    .mainContainer {
        width: 80%;
        position: inherit;
         top: 15%;
         left: 50%;
    }
}

@media(min-width: 992px){
    .mainContainer {
        width: 50%;
        position: absolute;
        margin-top:0%;
         left: 80%;
    }
}
@media(max-width:560px){
    .mainContainer{
        width:80%;
        position:inherit;
        left:0%;
    }
    .form-control{
        width:100%;
    }
}

