<div class="container mainContainer">

    <i class="fa fa-user" style="font-family:'FontAwesome';"></i>

    <h4>Contact Information:</h4>

    <div class="form-group row">
        <div class="col-sm-1"></div>
        <label for="f_name" class="col-sm-3 col-form-label">First Name:</label>
        <div class="col-sm-6">
            <input type="text" class="form-control w-100" id="f_name" [(ngModel)]=firstName
                value="{{ profileObject?.firstName }}" (change)="onFirstNameChange()">
        </div>
        <div class="error col-sm-2 mx-0 my-auto p-0 text-left">{{firstNameError}}</div>
    </div>

    <div class="form-group row">
        <div class="col-sm-1"></div>
        <label for="l_name" class="col-sm-3 col-form-label">Last Name:</label>
        <div class="col-sm-6">
            <input type="text" class="form-control w-100" id="l_name" [(ngModel)]=lastName
                value="{{ profileObject?.lastName }}" (change)="onLastNameChange()">
        </div>
        <div class="error col-sm-2 mx-0 my-auto p-0 text-left">{{lastNameError}}</div>
    </div>

    <div class="form-group row">
        <div class="col-sm-1"></div>
        <label for="user_email" class="col-sm-3 col-form-label">Email:</label>
        <div class="col-sm-6">
            <input type="email" class="form-control w-100" id="user_email" aria-describedby="emailHelp" [(ngModel)]=email
                value="{{ profileObject?.email }}" (change)="onEmailChange()">
        </div>
        <div class="error col-sm-2 mx-0 my-auto p-0 text-left">{{emailError}}</div>
    </div>

    <div class="form-group row">
        <div class="col-sm-1"></div>
        <label for="phone" class="col-sm-3 col-form-label">Phone:</label>
        <div class="col-sm-6">
            <input type="text" class="form-control w-100" id="phone" [(ngModel)]=phone
                value="{{ profileObject?.phoneNumber }}" (change)="onPhoneChange()">
        </div>
        <div class="error col-sm-2 mx-0 my-auto p-0 text-left">{{phoneError}}</div>
    </div>
    <p class="success mx-auto my-0" [ngStyle]="{'color': resultColor, 'visibility': resultVisible}">{{result}}</p>

    <button type="submit" class="btn btn-primary myBtn" (click)="updatesContactInfo()">Save</button>
</div>