<div class="container mainContainer">
        <i class="fa fa-users" style="font-family:'FontAwesome';"></i>
            <h4 class="title">Membership:</h4>
            <div class="innercontainer">
        <form (ngSubmit)="updatesMembershipInfo()">
            <div class="form-group row">
                    <div class="col-sm-12">
                       <h5><strong>Batch:</strong></h5>
                       <!-- batchNumber and batchLocation data is from profile component (parent component) -->
                       <span>{{batchNumber}} - {{batchLocation}} Batch</span>
                     
                    </div>
                </div>   
                <div class="form-group row">
                    <br/><span>{{batchFAddress}}</span>
                </div>
                <div class="form-group row">
                     <div class="col-sm-4 t">
                    <h6>Status:</h6>
                    <select class="form-control" (change)="onSelectDriver($event)">
                        <option value="true" [selected]="driverSelect">Driver</option>
                        <option value="false" [selected]="!driverSelect">Rider</option>
                    </select>
                    <select class="form-control" (change)="onSelectActive($event)">
                        <option value="true" [selected]="isActive">Active</option>
                        <option value="false" [selected]="!isActive">Inactive</option>
                    </select>      
                    <p class="text-success">{{success}}</p> 
                <button type="submit" class="btn btn-primary myBtn" >Save</button>
                </div>
            </div>
        </form>
        </div>
    </div>
            
       
                    <!-- <h4>To drive or not to drive?</h4>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="rider" name="customRadioInline1" class="custom-control-input">
                        <label class="custom-control-label" for="rider">Rider</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="driver" name="customRadioInline1" class="custom-control-input">
                        <label class="custom-control-label" for="driver">Driver</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="off" name="customRadioInline1" class="custom-control-input">
                        <label class="custom-control-label" for="off">Off</label>
                    </div> -->
                <!-- </div> -->
            <!-- </div> --> 
    