<div class="container mainContainer">
        <i class="fa fa-users" style="font-family:'FontAwesome';"></i>
            <h4 class="title">Membership:</h4>
            <div class="innercontainer">
            <div class="form-group row">
            
                    <div class="col-sm-12">
                       <h5>Batch:</h5>
                       <span> {{profileObject.batch.batchNumber}} - {{profileObject.batch.batchLocation}}</span>
                    </div>
                </div>
                
                <div class="form-group row">
                     <div class="col-sm-4 t">
                    <h6>Status:</h6>
                    <select class="form-control mySelect" name="rider" id="rider" [(ngModel)]=isDriver value="{{profileObject.isDriver}}">
                        <option value="true">Driver</option>
                        <option value="false">Rider</option>
                    </select>
                    <select class="form-control mySelect" name="active" id="active" [(ngModel)]=active value="{{profileObject.active}}">
                        <option value="true">Active</option>
                        <option value="false">Disabled</option>
                    </select>
                    <!-- <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-outline-success mybtngroup">Rider</button>
                        <button type="button" class="btn btn-outline-success mybtngroup">Driver</button>
                        <button type="button" class="btn btn-outline-danger mybtngroup">Off</button>
                    </div> -->
            
                <button type="submit" class="btn btn-primary myBtn">Save</button>
                </div>
            </div>
        </div>
    </div>
            
       
                    <!-- <h4>To drive or not to drive?</h4>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="rider" name="customRadioInline1" class="custom-control-input">
                        <label class="custom-control-label" for="rider">Rider</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="driver" name="customRadioInline1" class="custom-control-input">
                        <label class="custom-control-label" for="driver">Driver</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="off" name="customRadioInline1" class="custom-control-input">
                        <label class="custom-control-label" for="off">Off</label>
                    </div> -->
                <!-- </div> -->
            <!-- </div> --> 
    