*{
    font-family:"Overpass",sans-serif;
}
h5{

    float:left;
}

.col-sm-6{
    width:100%;
    border:1px solid black;
}
.mainContainer {
    margin: 8% auto;
    width: 100%;  
    border:1px outset gray;
    box-shadow:2px 2px 5px rgb(212, 212, 212);
    background-color:rgb(243, 243, 243);
    padding-bottom:5%;
    border-radius: 10px;
}
.innercontainer{
    display:inline-block;
    margin-top:40px;
    
}
.fa-users{
    z-index: 2;
    border:1.5px solid black;
    padding:14px;
    font-size:23px;
    margin-left:85%;
    border-radius: 20px;
    background-color: white;
    display:inline;
}
.title{
    text-align:left;
    font-weight:bold;
}

.form-control {
    width: 230px;
    border-radius:15px;
   
}

.myBtn {
    margin-top:30px;
    background-color: #F26925;
    color:white;
    width:150px;
    font-family:"Overpass";
    font-weight:bold;
    font-size:22px;
    border-radius:27px;
    letter-spacing:1px;
    height:45px;
    display:inline-block;
    text-align:center;
}
 
.myBtn:hover{
    background-color:white;
    color:#F26925;
    border: 2px solid #F26925;
    border-radius: 22px ;
    font-family:"Overpass";
    font-size:23px;
}

@media(min-width: 768px){
    .mainContainer {
        width: 80%;
        position: inherit;
         top: 15%;
         left: 50%;
    }
}

@media(min-width: 992px){
    .mainContainer {
        width: 50%;
        position: absolute;
        margin-top:0%;
         left: 80%;
    }
}
@media(max-width:560px){
    .mainContainer{
        width:80%;
        position:inherit;
        left:0%;
    }
    .form-control{
        width:100%;
    }
}
@media(max-width:420px){
    .fa-users{
        font-size:20px;
        padding:10px;
    }
 }

 @media(max-width:580px){
     .mainContainer{
         width:65%;
     }
     .form-control{
         width:80%;
     }
 }

 @media(max-width:340px){

    .mainContainer{
        width:80%;
    }
    .form-control{
        width:80%;
    }
    button{
        width:50%;
    }
}

