h2 {
    font-size: 1.375rem;
    font-weight: 400;
}

.car-info:hover, #year:hover, #fullName:hover {
    background-color: whitesmoke;
}

#year, #fullName {
    cursor: pointer;
}

#input-field {
    margin-top: 1%;
    margin-bottom: 1%;
}

#input-field button{
    margin-right: 3%;
}

strong {
    cursor: pointer;
    float: right;
}


