<div class="container">
    <form class="text-center" id="login-form">
        <div class="form-group">
            <label for="admins">Admin Account: </label>
            <select (change)="changeAdmin($event)" id="admins">
                <option *ngFor="let admin of admins" value="admin.adminId">{{admin.adminId}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="userName">User Name:</label><br>
            <input type="text" id="userName" [(ngModel)]="userName" name="userName" placeholder="Admin User Name" autocomplete="off"/><br>
        </div>
        <p class="alert alert-danger" *ngIf="failed"><strong>Login Failed!</strong></p>
        <button class="btn btn-primary" type="submit" id="sign-in-btn" (click)="login()" (keyup.enter)="login()" [disabled]="!(userName && chosenAdmin)">Login As Admin</button>
        <br><br>
        <p><a routerLink="/login">Sign In</a> As User</p>
    </form>
</div>