<div class="container">
    <div *ngIf="!myCar.carId" class="text text-center">
        <p>You Don't Have A Car In Your Account</p>
        <button type="button" class="btn btn-outline-primary" routerLink="/new/car">Add A Car</button>
    </div>
    <div *ngIf="myCar.carId" class="car-info-form">
        <h2>My Car</h2>
        <table class="table table-hover">
            <tr>
                <th scope="col">Color</th>
                <td>{{myCar.color | titlecase}}</td>
            </tr>
            <tr>
                <th scope="col">Seats</th>
                <td>{{myCar.seats}}</td>
            </tr>
            <tr>
                <th scope="col">Make</th>
                <td>{{myCar.make | titlecase}}</td>
            </tr>
            <tr>
                <th scope="col">Model</th>
                <td>{{myCar.model | titlecase}}</td>
            </tr>
            <tr>
                <th scope="col">Year</th>
                <td>{{myCar.year}}</td>
            </tr>
        </table>
        <div class="text-right">
            <button type="button" class="btn btn-outline-secondary" (click)="removeMyCar()">Remove</button>
        </div>
    </div>
</div>
