p {
    font-size: smaller;
    color: gray;
}

#login-form {
    /* border: 2px solid #e75c0c; */
    border: 2px solid rgb(253, 111, 39)(173, 173, 173);
    border-radius: 100px;
    padding: 3%;
    margin-top: 8%;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    box-shadow: 6px 6px 10px rgb(255, 117, 48);
}

#next-btn, #prev-btn {
    background-color: white;
    color: black;
    width: 100%;
    font-size: small;
}

.dropdown-content p {
    cursor: pointer;
    font-size: 1em;
    color: black;
    text-decoration: none;
    display: block;
}

.dropdown-content p:hover {
    background-color: whitesmoke;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 208px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}  


img {
    width: 50%;
    height: 50%;
    margin-bottom:30px;
}

.form-control{
    width: 60%;
    margin:auto;
    border-radius: 20px;
}

.btn{
    margin-top:20px;
    background-color: #F26925;
    color:white;
    width:200px;
    font-family:"Overpass",sans-serif;
    font-weight:bold;
    font-size:22px;
    border-radius:27px;
    letter-spacing:1px;
    height:45px;
    display:inline-block;
    
}
 
.btn:hover{
    background-color:white;
    color:#F26925;
    border: 2px solid #F26925;
    border-radius: 22px ;
    font-family:"Overpass",sans-serif;
    font-size:23px;
}


/*-------------------------Media Queries---------------------------------*/

@media only screen and (max-width:780px){
    #login-form{
        border:none;
        box-shadow:none;
    }
}

@media only screen and (max-width:764px){
    .btn{
        width:150px;
        font-size:20px;
    }
}

@media only screen and (max-width:560px){
    .btn{
        width:100px;
        font-size:18px;
        border-radius:10px;
        height:40px;
    }
    label{
        font-size:14px;
    }
    input{
        font-size:14px;
    }
}

@media only screen and (max-width:356px){
    .btn{
        width:80px;
        font-size:15px;
        border-radius:10px;
        height:35px;
    }
    label{
        font-size:13px;
    }
    input{
        font-size:13px;
    }
}

@media only screen and (max-width:320px){
    .btn{
        width:80px;
        font-size:15px;
        border-radius:10px;
        height:35px;
    }
    label{
        font-size:13px;
    }
    input{
        font-size:12px;
    }
}

