p {
    font-size: smaller;
    color: gray;
}

#login-form {
    border: 2px solid #e75c0c;
    border-radius: 100px;
    padding: 3%;
    margin-top: 8%;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
}

#next-btn, #prev-btn {
    background-color: white;
    color: black;
    width: 100%;
    font-size: small;
}

.dropdown-content p {
    cursor: pointer;
    font-size: 1em;
    color: black;
    text-decoration: none;
    display: block;
}

.dropdown-content p:hover {
    background-color: whitesmoke;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 208px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}  

img {
    width: 80%;
    height: 80%;
}

.form-control{
    width: 60%;
    margin:auto;
}

.btn{
    margin-top:10px;
    background-color: #F26925;
    color:white;
    width:300px;
    font-family:"Overpass",sans-serif;
    font-weight:bold;
    font-size:22px;
    border-radius:27px;
    letter-spacing:1px;
    height:45px;
    display:inline-block;
    
}
 
.btn:hover{
    background-color:white;
    color:#F26925;
    border: 2px solid #F26925;
    border-radius: 22px ;
    font-family:"Overpass",sans-serif;
    font-size:23px;
}



