p {
    font-size: smaller;
    color: gray;
}

#login-form {
    border: 1px solid #dddddd;
    border-radius: 7px;
    padding: 3%;
    margin-top: 8%;
    margin-left: 30%;
    margin-right: 30%;
}
