p {
    font-size: smaller;
    color: gray;
}

#login-form {
    border: 2px solid #e75c0c;
    border-radius: 10px;
    padding: 3%;
    margin-top: 8%;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
}

#next-btn, #prev-btn {
    background-color: white;
    color: black;
    width: 100%;
    font-size: small;
}

.dropdown-content p {
    cursor: pointer;
    font-size: 1em;
    color: black;
    text-decoration: none;
    display: block;
}

.dropdown-content p:hover {
    background-color: whitesmoke;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 208px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}  