<a (click)="openModal(template)">Sign up</a >
  
<!-- Maintain this template so that we may reference it without having to refactor the way the page works -->
<ng-template #template >
  <p *ngIf="success != ''" class="success">{{success}}</p>
  
  <div class="modal-header">
    <h4 class="modal-title">Sign Up</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  
  <div class="modal-body">


  

  
  <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">

      <!-- This is the DRIVER / RIDER button group. -->
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-primary" (click)="setDriver()">Driver</button>
        <button type="button" class="btn btn-primary" (click)="setRider()">Rider</button>
      </div>



      <!-- This form group contains the FIRST NAME field input. -->
      <div class="form-group">
        <label for="firstname">First Name</label>
        <input
          type="text"
          id="firstname"
          formControlName="firstname"
          class="form-control">
        <!-- Validation. -->
        <span 
          *ngIf="!signUpForm.get('firstname').valid && signUpForm.get('firstname').touched"
          class="help-block">This field is required.
        </span>
      </div>



      <!-- This form group contains the LAST NAME field input. -->
      <div class="form-group">
        <label for="lastname">Last Name</label>
        <input
          type="text"
          id="lastname"
          formControlName="lastname"
          class="form-control">
        <!-- Validation. -->
        <span 
          *ngIf="!signUpForm.get('lastname').valid && signUpForm.get('lastname').touched"
          class="help-block">This field is required.
        </span>
      </div>



      <!-- This form group contains the EMAIL field input. -->
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="text"
          id="email"
          formControlName="email"
          class="form-control">
        <!-- Validation. -->
        <span 
          *ngIf="!signUpForm.get('email').valid && signUpForm.get('email').touched"
          class="help-block">This field is required.
        </span>
      </div>



      <!-- This form group contains the PHONE NUMBER field input. -->
      <div class="form-group">
        <label for="phonenumber">Phone Number</label>
        <input
          type="text"
          id="phonenumber"
          formControlName="phonenumber"
          class="form-control">
        <!-- Validation. -->
        <span 
          *ngIf="!signUpForm.get('phonenumber').valid && signUpForm.get('phonenumber').touched"
          class="help-block">This field is required.
        </span>
      </div>



      <!-- This form group contains the BATCH select input. -->
      <!-- ADD SELECT ELEMENT IN INPUT AND GENERATE NESTED OPTION ELEMENTS FROM BATCHLIST WITH NGFOR -->
      <div class="form-group">
        <label for="batch">Batch</label>
        <input
          type="text"
          id="batch"
          formControlName="batch"
          class="form-control">
        <!-- Validation. -->
        <span 
          *ngIf="!signUpForm.get('batch').valid && signUpForm.get('batch').touched"
          class="help-block">This field is required.
        </span>
      </div>



      <!-- This HORIZONTAL line spans 4 grids of the parent container to organize the form information into segments -->
      <!-- USERNAME AND PASSWORD SECTION BELOW-->
      <br />
      <hr my-4>



      <!-- This form group contains the AUTOPLACES field input. -->
      <div class="form-group">
        <label for="autoplaces">Address</label>
        <input 
          id="autoplaces" 
          formControlName="address" 
          placeholder="{{addressLine}}" 
          ngx-google-places-autocomplete 
          [options]='options' 
          #placesRef="ngx-places"
          (change)="handleAddressChange($event)" 
          class="form-control"/>
        <!-- Validation. -->
        <span 
          *ngIf="this.city==null && signUpForm.get('address').touched"
          class="help-block">Use autocomplete to generate your address.
        </span>
      </div>



      <!-- This form group contains the ADDRESS field input. -->
      <div class="form-group">
        <label for="address">Address line</label>
        <input
          readonly
          type="text"
          id="address"
          class="form-control" 
          placeholder="{{addressLine}}">
      </div>



      <!-- This form group contains the CITY field input. -->
      <div class="form-group">
        <label for="city">City</label>
        <input
          readonly
          type="text"
          id="city"
          formControlName="city"
          class="form-control" 
          placeholder="{{city}}">
      </div>



      <!-- This form group contains the STATE field input. -->
      <div class="form-group">
        <label for="state">State</label>
        <input
          readonly
          type="text"
          id="state"
          formControlName="state"
          class="form-control" 
          placeholder="{{state}}">
      </div>



      <!-- This form group contains the ZIP CODE field input. -->
      <div class="form-group">
        <label for="zipcode">Zip Code</label>
        <input 
          type="text"
          id="zipcode"
          formControlName="zipcode"
          class="form-control">
        <!-- Validation. -->
        <span 
          *ngIf="!signUpForm.get('zipcode').valid && signUpForm.get('zipcode').touched"
          class="help-block">This field is required.
        </span>
      </div>



      <!-- This HORIZONTAL line spans 4 grids of the parent container to organize the form information into segments -->
      <!-- USERNAME AND PASSWORD SECTION BELOW-->
      <br />
      <hr my-4>



      <!-- This form group contains the USERNAME field input. -->
      <div class="form-group">
        <label for="username">User Name</label>
        <input
          type="text"
          id="username"
          formControlName="username"
          class="form-control">
        <!-- Validation. -->
        <span 
          *ngIf="!signUpForm.get('username').valid && signUpForm.get('username').touched"
          class="help-block">This field is required.
        </span>
      </div>



      <!-- This form group contains the PASSWORD field input. -->
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          formControlName="password"
          class="form-control">
        <!-- Validation. -->
        <span 
          *ngIf="!signUpForm.get('password').valid && signUpForm.get('password').touched"
          class="help-block">This field is required.
        </span>
      </div>



      <!-- This is the submit button. -->
      <div class="btn-container">
        <button class="btn btn-primary register" type="submit" [disabled]="this.signUpForm.status == 'INVALID'">Submit</button>
        <br />
        <span *ngIf="this.signUpForm.status == 'INVALID'" class="help-block">Submit disabled: *Required fields are not valid.</span>
      </div>
    
    </form>



  </div>
</ng-template> 

