<a (click)="openModal(template)">Sign up</a >
  
<!-- Maintain this template so that we may reference it without having to refactor the way the page works -->
<ng-template #template >
  <p *ngIf="success != ''" class="success">{{success}}</p>
  
  <div class="modal-header">
    <h4 class="modal-title">Sign Up</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  
  <div class="modal-body">

  <!--
    In the html, you can see that I simply replaced all the remaining garbage in the 
    input fields with more useful information (namely, the formControlName attribute).

    I also synchronized the form here to the FormGroup by adding the formGroup binding
    to the form tag.
  -->
  
  <form [formGroup]="signUpForm">

      <!-- This form group contains the DRIVER / RIDER radio button input. -->
      <div class="form-group">
        <div class="radiobody">
          <div class="btn-group" data-toggle="buttons">
              <!--DRIVER button-->
              <label class="btn btn-primary">
                <input type="checkbox"  id="driver"/> Driver
              </label>
              <!--RIDER button-->
              <label class="btn btn-primary">
                <input type="checkbox"  id="rider"/> Rider
              </label>
          </div>
        </div>
      </div>

      <!-- This form group contains the FIRST NAME field input. -->
      <div class="form-group">
        <label for="firstname">First Name</label>
        <input
          type="text"
          id="firstname"
          formControlName="firstname"
          class="form-control">
      </div>

      <!-- This form group contains the LAST NAME field input. -->
      <div class="form-group">
        <label for="lastname">Last Name</label>
        <input
          type="text"
          id="lastname"
          formControlName="lastname"
          class="form-control">
      </div>

      <!-- This form group contains the EMAIL field input. -->
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="text"
          id="email"
          formControlName="email"
          class="form-control">
      </div>

      <!-- This form group contains the PHONE NUMBER field input. -->
      <div class="form-group">
        <label for="phoneNumber">Phone Number</label>
        <input
          type="text"
          id="phonenumber"
          formControlName="phonenumber"
          class="form-control">
      </div>

      <!-- This form group contains the BATCH select input. -->
      <div class="form-group">
        <label for="batch">Batch</label>
        <input
          type="text"
          id="batch"
          formControlName="batch"
          class="form-control">
      </div>



      <!-- This HORIZONTAL line spans 4 grids of the parent container to organize the form information into segments -->
      <!-- USERNAME AND PASSWORD SECTION BELOW-->
      <br />
      <hr my-4>



      <!-- This form group contains the ADDRESS field input. -->
      <div class="form-group">
        <label for="hAddress">Address</label>
        <input
          type="text"
          id="address"
          formControlName="address"
          class="form-control">
      </div>

      <!-- This form group contains the CITY field input. -->
      <div class="form-group">
        <label id="hCity">City</label>
        <input
          type="text"
          id="city"
          formControlName="city"
          class="form-control">
      </div>

      <!-- This form group contains the STATE field input. -->
      <div class="form-group">
        <label id="hState">State</label>
        <input
          type="text"
          id="state"
          formControlName="state"
          class="form-control">
      </div>

      <!-- This form group contains the ZIP CODE field input. -->
      <div class="form-group">
        <label id="hZip">Zip Code</label>
        <input
          type="text"
          id="zipcode"
          formControlName="zipcode"
          class="form-control">
      </div>



      <!-- This HORIZONTAL line spans 4 grids of the parent container to organize the form information into segments -->
      <!-- USERNAME AND PASSWORD SECTION BELOW-->
      <br />
      <hr my-4>



      <!-- This form group contains the USERNAME field input. -->
      <div class="form-group">
        <label for="userName">User Name</label>
        <input
          type="text"
          id="username"
          formControlName="username"
          class="form-control">
      </div>

      <!-- This form group contains the PASSWORD field input. -->
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          formControlName="password"
          class="form-control">
      </div>

      <div class="btn-container">
        <button class="btn btn-primary register" type="submit">Submit</button>
      </div>
    
    </form>



  </div>
</ng-template> 
