<app-navbar></app-navbar>
<div class="pagebody">
      <div class=" container profile-container">
            <div class="btn-group-vertical" role="group" aria-label="Basic example">
                  <button id="contactButton" type="button" class="btn btn-outline-primary btn-lg" (click)="showContact()">Contact Information</button>
                  <button id="locationButton" type="button" class="btn btn-outline-primary btn-lg" (click)="showLoc()">Location</button>
                  <button id="carButton" type="button" class="btn btn-outline-primary btn-lg" (click)="showCarInfo()">Car Information</button>

                  <button id="managerButton1" *ngIf='showManagerB' type="button" class="btn btn-outline-primary btn-lg" (click)="showEmployeeEdit()">Edit Employees</button>
                  <button id="managerButton2" *ngIf='showManagerB' type="button" class="btn btn-outline-primary btn-lg" (click)="showEditOffice()">Edit Offices</button>
            </div>


            <div *ngIf='showCont'>
                  <app-profile-contact></app-profile-contact>
            </div>
            <div *ngIf='showCar'>
                  <app-profile-car></app-profile-car>
            </div>
            <div *ngIf='showLocation'>
                  <app-profile-location></app-profile-location>
            </div>
            <div *ngIf='showManagerE'>
                  <app-manager-edit></app-manager-edit>
            </div>
            <div *ngIf='showManagerO'>
                  <app-edit-office></app-edit-office>
            </div>
      </div>
</div>