.btn-group-vertical{
    margin-top: 5%;
    color: black;
    margin-left:5%
}
.btn  {
    color:black;
}

.profile-container {
    margin: 5% auto;
    width: 65%;
    position: relative;
} 

/* media queries */
@media(min-width: 768px){
    .profile-container {
        margin-left: 5%;
    }
}


