.btn-group-vertical{
    margin-top: 5%;
    color: black;
    margin-left:5%
}
.btn  {
    color:black;
}

.profile-container {
    margin: 5% auto;
    width: 65%;
    position: relative;
} 
.btn-group-vertical{
    text-align:center;

}

/* media queries */
@media(min-width: 768px){
    .profile-container {
        display:inline-block;
        text-align:center;
    }
}


@media(min-width:200px){
    .profile-container{
        text-align: center;
        margin:auto;
    }
    .btn{
        align-items: center;
    }
   
}
@media(max-width:868px){
    .profile-container{
        margin-left:2%;
        width:100%;
    }
}


@media(min-width:992px){
    .profile-container{
        position: relative;
    }
}


