
  <div class = "container-fluid content text-center  ">
    <div class="row d-flex justify-content-center h-100">
      <div class="col-md-12 ">
        <h1>Revature RideForce</h1>
      </div>
        <div class="searchbar">
        <!-- <input type="text" [(ngModel)]="homeLocation" class="form-control" id=""> -->
        <input class="search_input " type="text" name="" [(ngModel)]="homeLocation">
        <!-- <a href="#" class="search_icon" (click)="searchDriver('none')"><i class="fas fa-search"></i></a> -->
        <button  class="search_icon" (click)="searchDriver()"><i class="fa fa-search"></i></button>
        <!-- <button  class="btn btn-primary register mt-2 mb-4" (click)="searchDriver('none')">Search</button>   -->
      </div>

  </div>
  <div class="row d-flex justify-content-center mt-3">
    <div class = "content text-center col-md align-self-center col-lg-3">
      <h4 for="customRange3">Distance Range</h4>
      <!-- <label for="customRange3">{{this.range}}</label> -->
      <ng-template #popContent>{{this.range}}</ng-template>
        <input type="range" class="custom-range" min="0" max="250" step="1" id="customRange3" [(ngModel)]="range" (change)="searchDriver()" [ngbPopover]="popContent" triggers="mouseenter:mouseleave" placement="right">
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="defaultChecked2" [(ngModel)]="sameOffice" (change)="searchDriver()">
        <label class="custom-control-label" for="defaultChecked2">Same Office</label>
      </div>
    </div>
  </div>
  </div>
<div class = "container ">
    <div class="row ">
    <div class="col-lg-6 filtered_list">
      <h4 class="text-center">Drivers</h4>

     <table class="table table-striped ">
       <thead class="thead-dark borderYtoX">
         <tr >
           <th scope="col" id="nameColumn" (click)="sortByName()">  Name</th>
           <th scope="col" id="distanceColumn" (click)="sortByDistance()">Distance</th>
           <th scope="col" id="timeColumn" (click)="sortByTime()">Time</th>
           <th scope="col" id="seatsColumn" (click)="sortBySeats()">Seats</th>
           <th scope="col">View Info</th>
         </tr>
       </thead>
       <tbody class="" id="output"></tbody>
      </table>
     </div>
     <div class="col-lg-6">
       <h4>Directions:</h4>
       <div #map id="gmap" class="img-responsive"></div>
     </div>
    </div>
</div>



