/* .content{
    text-align: center;
}
.form-control{
    margin:auto;
    width: 30%;
}
#search{
    margin-top:10px;
    background-color: #F26925;
    color:white;
    width:30%;
    font-family:"Overpass",sans-serif;
    font-weight:bold;
    font-size:22px;
    border-radius:27px;
    letter-spacing:1px;
    height:45px;
    display:inline-block;
    
}
 
#search:hover{
    background-color:white;
    color:#F26925;
    border: 2px solid #F26925;
    border-radius: 22px ;
    font-family:"Overpass",sans-serif;
    font-size:23px;
}
#right-panel {
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    
  }
#wrapper {
    width: 500px;
    border: 1px solid black;
    background-color:rgb(43, 15, 15)
}
#side1 {
    width: 400px;
    float:left; 
    padding-left: 250px;
}
#side2 {
    background-color:white;
    padding-left: 300px;
} */
#gmap { 
    height: 500px; 
}
.googleapi {
 
}
#map{
}
.col{
    margin-right: 3%;
}
.btn-outline-secondary{
    font-size:14px;
}

thead.borderYtoX th:active {
    color: #f27a3a;
    width: 2px;
}

thead.borderYtoX th{
    position: relative;
    z-index: 0;
    cursor: pointer;
}

thead.borderYtoX th:before, thead.borderYtoX th:after
{
    position: absolute;
    opacity: 0.5;
    height: 100%;
    width: .01px;
    content: '';
    background: #f27a3a;
    transition: all 0.3s;
}

thead.borderYtoX th:before
{
    left: 0px;
    top: 0px;
}

thead.borderYtoX th:after
{
    right: 0px;
    bottom: 0px;
}

thead.borderYtoX th:hover:before, thead.borderYtoX th:hover:after
{
    opacity: 1;
    height: 2px;
    width: 100%;
}

.filtered_list {
   height:550px;
   overflow-y: scroll;
  }

  /* search bar */

    .searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #000000;
    border-radius: 30px;
    padding: 10px;
    }

    .search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_input{
    padding: 0 10px;
    width: 450px;
    caret-color:#f27a3a;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_icon{
    background: #f27a3a;
    color: #ffffff;
    }

    .search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:#f27a3a;
    text-decoration:none;
    }

    body,html{
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        /* background: #e74c3c !important; */
        }