<div class = "container">
    <div class="row">
    <div class="col-lg-5">
     <!--<div class="form-group">
        <h4>Origin</h4>
        <input [(ngModel)]="origin" id="origin" class="form-control" placeholder="Morgantown, WV"/>
      </div>
      <div class="form-group">
        <h4>Destination</h4>
        <input [(ngModel)]="destination" id="destination" class="form-control" placeholder="Reston, VA"/>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-8">
          <button id = "search" class="btn btn-primary" (click)="getDirection()">Get Direction</button>
        </div>
      </div>
      <p id="total"></p>-->
      <h4>Driver's List</h4>

     <table class="table table-striped">
       <thead class="thead-dark">
         <tr>
           <th scope="col">Name</th>
           <th scope="col" (click)="reverse(2)">Distance</th>
           <th scope="col" (click)="reverse(1)">Time</th>
           <th scope="col">View Info</th>
         </tr>
       </thead>
       <tbody id="output"></tbody>
      </table>
      <mat-table [dataSource] = "drivers">
        <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: tableColumns"></mat-row>
        <ng-container matColumnDef = "name">
          <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
          <mat-cell *matCellDef = "let name"></mat-cell>
        </ng-container>
        <ng-container matColumnDef = "distance">
          <mat-header-cell *matHeaderCellDef>Distance</mat-header-cell>
          <mat-cell *matCellDef = "let distance"></mat-cell>
        </ng-container>
        <ng-container matColumnDef = "time">
          <mat-header-cell *matHeaderCellDef>Time</mat-header-cell>
          <mat-cell *matCellDef = "let time"></mat-cell>
        </ng-container>
        <ng-container matColumnDef = "view">
          <mat-header-cell *matHeaderCellDef>View Info</mat-header-cell>
          <mat-cell *matCellDef = "let view"></mat-cell>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCentered${element.id}"> View</button>
        </ng-container>
      </mat-table>
     </div>
     <div class="col-lg-6">
       <h4>Directions:</h4>
       <div #map id="gmap" class="img-responsive"></div>
     </div>
    </div>
  </div>
