
<div class="container mainContainer" (keydown.enter) = "updatesContactInfo()">
    <i class="fa fa-home" style="font-family:'FontAwesome';"></i>
       
        <h4>Location:</h4>
        
        <div class="form-group row">
            <div class="col-sm-1"></div>
                <label for="address" class="col-sm-4 col-form-label">Address:</label>
                <div class="col-sm-4">
                    <input [(ngModel)]=address type="text" class="form-control" id="address">
                    <p *ngIf="emptyAddress != ''" class="failed">{{emptyAddress}}</p>
                </div>
        </div>
    </div>

    <!-- <div class="form-group row">
                <div class="col-sm-1"></div>
            <label for="address2" class="col-sm-4 col-form-label">Address 2:</label>
            <div class="col-sm-4">
                <input [(ngModel)]=address2 type="text" class="form-control" id="address2">
            </div>
        </div> -->

    <div class="form-group row">
        <div class="col-sm-1"></div>
        <label for="city" class="col-sm-4 col-form-label">City:</label>
        <div class="col-sm-4">
            <input [(ngModel)]=city type="text" class="form-control" id="locality" disabled="true">
        </div>
    
        <div class="form-group row">
                <div class="col-sm-1"></div>
                    <label for="city" class="col-sm-4 col-form-label">City:</label>
                    <div class="col-sm-4">
                    <input [(ngModel)]=city type="text" class="form-control" id="city">
                    <p *ngIf="emptyCity != ''" class="failed">{{emptyCity}}</p>
                </div>
        </div>
    </div>

            <div class="form-group row">
                    <div class="col-sm-1"></div>
                        <label for="zipcode" class="col-sm-4 col-form-label">Zipcode:</label>
                        <div class="col-sm-4">
                        <input [(ngModel)]=zipcode type="text" class="form-control" id="zipcode">
                        <p *ngIf="emptyZip != ''" class="failed">{{emptyZip}}</p>
                    </div>
            </div>
        
        <button type="submit" class="btn btn-primary myBtn" (click)="updatesContactInfo()">Save</button>
        <p *ngIf="success != ''" class="success">{{success}}</p>
        <p *ngIf="failed != ''" class="failed">{{failed}}</p>
    </div>

    <button type="submit" class="btn btn-primary myBtn" (click)="updatesContactInfo()">Save</button>
</div>