*{
    font-family:"Overpass",sans-serif;
}

h4{
   
    font-weight:bold;
    text-align:left;
}


/**success*/
.success {
    border-radius: 5px;
    color: green;
    font-size: 16px;
}

.mainContainer {
    margin: 5% auto;
    width: 61%;  
    border:1px outset gray;
    box-shadow:2px 2px 5px rgb(212, 212, 212);
    background-color:rgb(243, 243, 243);
    padding-bottom:5%;
    border-radius: 10px;
}

.form-control {
    width: 260px;
    border-radius:15px;
}

.fa-home{
    z-index: 2;
    border:1.5px solid black;
    padding:14px;
    font-size:23px;
    margin-left:85%;
    border-radius: 20px;
    background-color: white;
    display:inline;
}

.myBtn {

    margin-top:15px;
    background-color: #F26925;
    color:white;
    width:150px;
    font-family:"Overpass";
    font-weight:bold;
    font-size:22px;
    border-radius:27px;
    letter-spacing:1px;
    height:45px;
    display:inline-block;
    text-align:center;
}
 
.myBtn:hover{
    background-color:white;
    color:#F26925;
    border: 2px solid #F26925;
    border-radius: 22px ;
    font-family:"Overpass";
    font-size:23px;
}
@media(min-width: 768px){
    .mainContainer {
        width: 80%;
        position: inherit;
         top: 15%;
         left: 50%;
    }
    .form-control{
        width:100%;
    }
}

@media(min-width: 1068px){
    .mainContainer {
        width: 80%;
        position: absolute;
        margin-top:0%;
        left: 80%;
    }
    label{
        font-size:17px;
    }
    .form-control{
        width:150%;
    }
}
@media(max-width: 1068px){
    .mainContainer {
        width: 80%;
        position: inherit;
        margin-top:10%;
        left: 80%;
    }
    label{
        font-size:17px;
    }
    .form-control{
        width:150%;
    }
}
@media(max-width:580px){
    .mainContainer{
        width:80%;
        position:inherit;
        left:0%;
        
    }
    .form-control{
        width:100%
    }
    label{
        font-size:15px;
    }
}



@media(min-width:1474px){
    .mainContainer{
        margin-top:15px;
            width:60%;
            position:absolute;
            left:80%;
        }
        .form-control{
            width:150%;
        }
    }
    @media(max-width:420px){
       .fa-home{
           font-size:20px;
           padding:10px;
       }
    }

    @media(max-width:375px){
        h4{
            font-size:20px;
        }
        }

        @media(max-width:345px){
            .fa-home{
                font-size:18px;
                padding:8px;
            }
        }

