<div class="container mainContainer">
    <i class="fa fa-home" style="font-family:'FontAwesome';"></i>

    <h4>Location:</h4>

    <body>
        <div id="locationField">
            <input id="autocomplete" placeholder="Enter your address" ng-focus="geolocate()" type="input" />
        </div>

        <table id="address">
            <tr>
                <td class="label">Street address</td>
                <td class="slimField">
                    <input class="field" id="street_number" disabled="true" />
                </td>
                <td class="wideField" colspan="2">
                    <input class="field" id="route" disabled="true" />
                </td>
            </tr>
            <tr>
                <td class="label">City</td>
                <td class="wideField" colspan="3">
                    <input class="field" id="locality" disabled="true" />
                </td>
            </tr>
            <tr>
                <td class="label">State</td>
                <td class="slimField">
                    <input class="field" id="administrative_area_level_1" disabled="true" />
                </td>
                <td class="label">Zip code</td>
                <td class="wideField">
                    <input class="field" id="postal_code" disabled="true" />
                </td>
            </tr>
            <tr>
                <td class="label">Country</td>
                <td class="wideField" colspan="3">
                    <input class="field" id="country" disabled="true" />
                </td>
            </tr>
        </table>




        <button type="submit" class="btn btn-primary myBtn" (click)="initAutocomplete()">Save</button>
    </body>
</div>