<div class="container">
    <form class="form-group" id="sign-up-form">
        <h3>Your Information</h3>
        <div class="form-group">
            <label for="userName">User Name <small>*</small></label><br>
            <input id="userName" type="text" placeholder="User Name" [(ngModel)]="userName" name="userName" required autocomplete="off"><br>
            <small *ngIf="userName && !validateUserName()">User Name Should Be 3 to 8 Characters</small>
        </div>
        <div class="form-group">
            <label for="firstName">First Name <small>*</small></label><br>
            <input id="firstName" type="text" placeholder="First Name" [(ngModel)]="firstName" name="firstName" required><br>
            <small *ngIf="firstName.length && !validateName(firstName)">Invalid Name</small>
        </div>
        <div class="form-group">
            <label for="lastName">Last Name <small>*</small></label><br>
            <input id="lastName" type="text" placeholder="Last Name" [(ngModel)]="lastName" name="lastName" required><br>
            <small *ngIf="lastName.length && !validateName(lastName)">Invalid Name</small>
        </div>
        <div class="form-group">
            <label for="email">Email <small>*</small></label><br>
            <input id="email" type="email" placeholder="Email" [(ngModel)]="email" name="email" required><br>
            <small *ngIf="email.length && !validateEmail()">Invalid Email</small>
        </div>
        <div class="form-group">
            <label for="phone">Phone <small>*</small></label><br>
            <input id="phone" type="tel" placeholder="Phone #" [(ngModel)]="phone" name="phone" required><br>
            <small *ngIf="phone.length && !validatePhone()">Invalid Phone Number</small>
        </div>
        <div class="form-group">
            <label for="location">Location <small>*</small></label><br>
            <select id="location" (change)='changeLocation($event)'>
                <option *ngFor="let batch of batches" [value]="batch.batchNumber">{{batch.batchLocation}}</option>
            </select>
        </div>
        <div class="form-group">
            <button id="sign-up-btn" class="btn btn-primary" type="submit" (click)="signUp()" (keyup.enter)="signUp()" [disabled]="!(userName && firstName && lastName && email && phone)">Sign Up</button>
        </div>
    </form>
</div>